.navigation {
  width: 80%;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navigation__slideline {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #adadad;
}
