.navigation,
.navigation__container,
.navigation__slideline {
  display: flex;
}

.navigation {
  width: 100%;
  overflow-x: auto;
  margin: 0 auto;
  flex-wrap: wrap;
}

.navigation__container {
  flex-direction: row;
  justify-content: center;
  align-self: center;
  border-bottom: 1px solid #adadad;
  margin: 0 auto;
}

.navigation__slideline-container {
  width: 100%;
}

.navigation__slideline {
  position: relative;
  top: -1px;
  height: 1px;
  background: #000;

  transition-property: width, margin-left;
  transition-duration: 0s, 0.4s, 0s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94), ease-in-out;

  width: 0px;
  margin-left: 50%;
}
