.navigationItem {
  display: flex;
  margin: 10px 20px;
}

.navigationItem a,
.navigationItem a:visited {
  text-decoration: none;
  color: #adadad;
}

.navigationItem a:hover {
  color: #0070c9;
}

.navigationItem a:active {
  color: #000;
}

.navigationItem--current a,
.navigationItem--current a:active {
  color: #000
}